html {
  @media (max-width: 360px) {
    font-size: 14px;
  }
}

body {
  font-family: $font-family-base;
  color: $body-color-base;
}

.layout {
  display: grid;
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    grid-template-rows: 3fr 1fr;
    grid-template-columns: minmax(23rem, 1fr) 2fr;
    grid-template-areas: 
      "list main"
      "list hourly-list";
  }
}

.container-base {
  width: 100%;
  overflow-x: auto;

  @each $breakpoint, $container-base-padding-x in $container-base-padding-xes {
    @include media-breakpoint-up($breakpoint) {
      padding-left: $container-base-padding-x;
      padding-right: $container-base-padding-x;
    }
  }

  @include media-breakpoint-up(lg) {
    display: contents;
  }
}