.list-item {
  display: contents;
  position: relative;
  cursor: pointer;
  @include font-style($list-size-base, $font-weight-semibold);

  // &::before {
  //   grid-column: 1 / -1;
  //   @include position(absolute, 0, 0);
  //   width: calc(100% + #{$arrow-width} + #{$arrow-gap} * 2);
  //   height: 100%;
  //   margin-left: -($arrow-width + $arrow-gap + $arrow-gap / 2);
  //   content: '';
  // }

  .arrow {
    grid-column: 1 / 2;
    @include position(absolute, 50%, -$arrow-gap);
    border-top: ($arrow-height / 2) solid transparent;
    border-bottom: ($arrow-height / 2) solid transparent;
    border-left: $arrow-width solid currentColor;
    transform: translate(-100%, -50%);
    pointer-events: none;
  }

  .list-item-clickable {
    grid-column: 1 / -1;
    @include position(absolute, 0, 0);
    width: calc(100% + #{$arrow-width} + #{$arrow-gap} * 2);
    height: 100%;
    margin-left: -($arrow-width + $arrow-gap + $arrow-gap / 2);
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      &::before, .list-item-clickable, .arrow {
        grid-row: #{$i} / #{$i + 1};
      }
    }
  }
}

.list-item-title {
  display: grid;
}

.list-item-subtitle {
  @include font-style(1rem, $font-weight-normal, $light-gray);
}

.list-item-img {
  width: 2.5rem;
  height: 2.5rem;
}