.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: space-evenly;
  align-items: center;
  justify-content: space-between;
  row-gap: 2.25rem;
  position: relative;
  margin-bottom: 0;
  padding: 2rem 0 5rem;
  @extend .list-unstyled;
  
  @include media-breakpoint-up(lg) {
    grid-area: list;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
}

