.hourly-list {
  align-self: center;
  justify-self: center;
  // display: grid;
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 2.125rem;
  max-width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  overflow-x: auto;
  @extend .list-unstyled;

  @include media-breakpoint-up(lg) {
    grid-area: hourly-list;
    column-gap: 4.5rem;
    max-width: 80%;
    margin-bottom: 1.5rem;
  }
}