body {
  font-family: $font-family-base;
  color: $body-color-base;
}

.layout {
  display: grid;
  min-height: 100vh;

  @include media-breakpoint-up(lg) {
    grid-template-rows: 3fr 1fr;
    grid-template-columns: minmax(23rem, 1fr) 2fr;
    grid-template-areas: 
      "list main"
      "list list-horizontal";
  }
}

.base-container {
  width: 100%;

  @each $breakpoint, $base-container-padding-x in $base-container-padding-xes {
    @include media-breakpoint-up($breakpoint) {
      padding-left: $base-container-padding-x;
      padding-right: $base-container-padding-x;
    }
  }

  @include media-breakpoint-up(lg) {
    display: contents;
  }
}