.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: space-evenly;
  align-items: center;
  justify-content: space-between;
  row-gap: 2.25rem;
  margin-bottom: 0;
  padding: 1.5rem 0;
  @extend .list-unstyled;
  
  @include media-breakpoint-up(lg) {
    grid-area: list;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
}

.list-item {
  display: contents;
  position: relative;
  cursor: pointer;
  @include font-style($list-size-base, $font-weight-semibold);
}

.list-item-title {
  display: grid;
}

.list-item-subtitle {
  @include font-style(1rem, $font-weight-normal, $light-gray);
}

.list-item-img {
  width: 2.5rem;
  height: 2.5rem;
}

