.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  @extend .list-unstyled;
}

.list-item {
  display: contents;
  @include font-style($list-size-base, $font-weight-semibold);
}

.list-item-title {
  display: grid;
}

.list-item-subtitle {
  @include font-style(1rem, $font-weight-normal, $light-gray);
}

.list-item-img {
  width: 2.5rem;
  filter: $filter-gray;
}

