/*********************************************
  Variables
*********************************************/

/* --------------- Colors --------------- */

$gray: #909090;
$light-gray: #C0C0C0;
$white: white;
$black: black;
$orange: #F59E5E;
$yellow: #F4E87C;
$blue: #4D6BD0;
$light-blue: #A5E7F3;
$steel: #86AEC7;
$light-steel: #CCE4EA;
$bluegreen: #5397A7;
$light-bluegreen: #B6EDEF;

$gradient-orange: linear-gradient($orange, $yellow);
$gradient-blue: linear-gradient($blue, $light-blue);
$gradient-steel: linear-gradient($steel, $light-steel);
$gradient-bluegreen: linear-gradient($bluegreen, $light-bluegreen);

/* --------------- Box shadow --------------- */

$shadow: rgba($black, .14);
$shadow-dark: rgba($black, .17);
$box-shadow-base: .25rem .5rem 1.25rem .5rem $shadow;

/* --------------- Typography --------------- */

$font-family-base: 'Open Sans', sans-serif;
$body-color-base: $gray;

$loc-size-base: 1.5rem;
$time-size-base: 1.25rem;
$temp-size-base: 4rem;
$desc-size-base: 2rem;
$list-size-base: 1.125rem;

$font-weight-semibold: 600;

/* --------------- Grid containers --------------- */

$container-base-padding-xes: (
  xs: 9%,
  sm: 14%,
  md: 16%
);
  
/* --------------- Buttons --------------- */

$btn-toggle-size: 3.75rem;
$btn-toggle-color: $gray;
$btn-toggle-color-hover: darken($btn-toggle-color, 20%);
$btn-toggle-color-active: darken($btn-toggle-color, 30%);
$btn-toggle-shadow: $box-shadow-base;
$btn-toggle-shadow-hover: .375rem .75rem 1.25rem .5rem $shadow;
$btn-toggle-transform-hover: -.125rem;  // translateY
$btn-toggle-transition: .35s;

  